---
import ImgPb from '../../components/ImgPb.astro'
import Layout from "../../layouts/Layout.astro"
import { getArticleById } from '../../../backend/backend.mjs';
const {id} = Astro.params;
const getOneArticle = await getArticleById(id)
const {... produit} = getOneArticle;
import { Image } from "astro:assets";
import boutonpanier from "../../assets/image/boutonpanier.png";
import mappadre from "../../assets/image/mappadre.png";
---
 <div class="bg-[#672F3C]">
<Layout>
   <div class="bg-[#FCEDE8] rounded-lg w-300 h-150 ml-42">
  <a href="./">
    <p class="text-[#8B5461] underline underline-offset-1 ml-20 mt-10">
      Retour aux articles
    </p>
  </a>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8 p-10">
    <div>
      <h2 class="text-2xl font-bold mb-4">{produit.nom_article}</h2>
      <div class="w-full h-72 rounded-lg overflow-hidden">
        <ImgPb
          record={produit}
          field="image"
          alt={produit.nom}
          classPicture="w-full h-full"
          classImg="object-cover w-full h-full"
        />
      </div>
    </div>

    <div class="flex flex-col justify-between">
      <div>
        <div class="flex items-baseline space-x-2 mt-4">
          <h3 class="text-lg font-semibold">{produit.prix_article_unite}€</h3>
          <p class="text-sm text-[#672F3C]">à l'unité</p>
        </div>

        <div class="flex items-baseline space-x-2 mt-2">
          <h3 class="text-lg font-semibold">{produit.prix_article_groupe}€</h3>
          <p class="text-sm text-[#672F3C]">{produit.offre_groupe}</p>
          <p class="text-sm text-[#672F3C]">{produit.churros_sucre}</p>
        </div>

        <p class="mt-4 text-sm text-black">{produit.description}</p>

        <h3 class="mt-4 font-semibold">Disponible</h3>
      </div>

      <Image
        class="scale-100 w-48 mt-6"
        src={boutonpanier}
        alt="bouton ajouter au panier"
      />
    </div>

    {/* Colonne 3 : Map et adresse */}
    <div class="mt-8 lg:mt-0">
      <h2 class="text-xl font-semibold mb-4">La Fournée du Padre</h2>
      <Image
        src={mappadre}
        alt="map La Fournée du Padre"
        class="rounded-md"
      />
      <h3 class="mt-2 text-sm text-black">
        4 Rue Dr Albert Schweitzer, 90000 Belfort
      </h3>
    </div>
  </div>
</div>
</Layout>
</div>