---
import { Image } from "astro:assets";
import fond from "../assets/image/fondlanding.png";
import fondsm from "../assets/image/fondsm.png";
import Layout from '../layouts/Layout.astro';
import bouton from "../assets/image/bouton.png";
import camion from "../assets/image/camion.png";
import Trans from "../assets/image/trans.png";
import imgpain from "../assets/image/imgland.png"
import Employe from "../components/employe.astro";
import Boulangerie from "../components/boulangerie.astro";
import Camionette from "../components/camionette.astro";

---

<Layout>
<div class="lg:grid lg:grid-cols-7">

<Image class="w-full lg:hidden" src={fondsm} alt="fond avec differants pain et viénnoiseries" />
<Image class="w-full max-sm:hidden col-span-7 " src={fond} alt="fond avec differants pain et viénnoiseries" />
<Image class="lg:col-end-5  scale-75 max-sm:ml-16 mb-8" src={bouton} alt="bouton inscription" />

</div>
<div class="grid grid-cols-10 max-sm:hidden">
<div class="bg-[#672F3C] w-238 h-68 rounded-4xl col-start-3">
    <h1 class="text-white font-extrabold text-center mt-24">Livraison de pain a domicile</h1>
   
</div>
<Image class=" w-full col-start-1 col-span-5" src={camion} alt="image de la camionette de matin o'chaud" />
</div>
<h2 class="text-center p-12 text-[#8B5461]">Qui sommes nous ?</h2>
<div class="lg:grid lg:grid-cols-7">
   
<Employe />
<a href="./boulangerie/"><Boulangerie /></a>
<Camionette />
</div>  
<Image class="w-full " src={Trans} alt="" />
<div class="lg:grid lg:grid-cols-3 grid-rows-2">
<Image class="w-full row-span-2" src={imgpain} alt="image de pain dans un panier avec des élipse de couleur derière" />
<h2 class="col-span-2 max-sm:text-center">Le meilleur du pain artisanal livré chez vous </h2>
<p class="col-span-2  max-sm:text-center">Recevez chaque matin du pain frais et des viennoiseries tout juste sortis du four, directement depuis votre boulangerie locale. Plus besoin de faire la queue ou de vous lever tôt, profitez d’un petit-déjeuner gourmand sans effort. Avec matin au chaux, il suffit de vous abonner pour accéder au service. Une fois inscrit, choisissez votre boulangerie préférée, composez votre commande et faites-vous livrer à domicile à l’heure qui vous convient. En plus de vous offrir des produits frais et de qualité, vous soutenez les artisans de votre quartier tout en gagnant du temps au quotidien. Inscrivez-vous dès aujourd’hui et profitez du plaisir d’un bon pain livré chez vous.</p>
<Image class="lg:col-start-2 scale-75 max-sm:ml-16 m-12 " src={bouton} alt="bouton inscription" />
</div>
</Layout>
  



