---
import Image from "astro/components/Image.astro";
import ImgPb from "./ImgPb.astro";
import Doublel from '../assets/image/doublel.png';

const { ...produit} = Astro.props;

---

<article class="bg-[#D5AFA2]">
    <a href={`/produit/${produit.id}`}>
      <div class="w-65 h-60 max-w-xl mx-auto px-6 py-4 rounded-lg items-center text-center">
        <ImgPb
      record={produit}
      field="image"
      alt={produit.nom}
      classPicture="w-full h-full"
      classImg="object-cover w-full h-full"
      /></div>
    </a>
    <div class="relative px-6 py-4 space-y-2"
    >
      <p class=" font-semibold py-2 flex justify-center items-center">
        <a class="text-black" href={`/produit/${produit.id}`}>{produit.nom_article}</a>
      </p>
    </div>
</article>
